name: Build C++ Project

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.3

    - name: Build solution
      run: msbuild Password_verification.sln /p:Configuration=Release /p:Platform=x64

    - name: Upload exe
      uses: actions/upload-artifact@v4
      with:
        name: Password_verification_exe
        path: x64/Release/Password_verification.exe
